In [54]:
import mysql.connector as connector

In [55]:
connection=connector.connect(user="root", password="123456", host="localhost", db="littlelemondb")

In [56]:
cursor=connection.cursor()

In [57]:
use_database_query="USE littlelemondb"
cursor.execute(use_database_query)

In [58]:
show_tables_query="SHOW tables"
cursor.execute(show_tables_query)

In [59]:
cursor.fetchall()

[('bookings',),
 ('customerdetails',),
 ('delivery_status',),
 ('menu',),
 ('menuitems',),
 ('orders',),
 ('ordersview',),
 ('staff',)]

In [60]:
cursor.execute(show_tables_query)
for tables in cursor:
    print(tables)

('bookings',)
('customerdetails',)
('delivery_status',)
('menu',)
('menuitems',)
('orders',)
('ordersview',)
('staff',)

In [61]:
join_query="SELECT fullName, email, phoneNumber, totalCost from customerDetails INNER JOIN orders on customerDetails.customerID=orders.customerID WHERE totalCost>=60 ORDER BY totalCost"
cursor.execute(join_query)
results=cursor.fetchall()
print(cursor.column_names)
for result in results:
    print(result)

('fullName', 'email', 'phoneNumber', 'totalCost')
(' Marcos Romero', 'ma@romero.com', 757536379, Decimal('160.00'))
('Hiroki Yamane', 'hi@yamane.com', 757536380, Decimal('180.00'))
('Diana Pinto', 'diana@pinto.com', 757536382, Decimal('200.00'))
('Vanessa McCarthy', 'va@mccarthy.com', 757536378, Decimal('200.00'))
('Ana Iversen', 'an@iversen.com', 757536381, Decimal('350.00'))
('Ana Iversen', 'an@iversen.com', 757536381, Decimal('510.00'))